<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.aau.cs.giraf.gui"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:killAfterRestore="true">
        <activity
            android:name="dk.aau.cs.giraf.activity.GirafBugSplashActivity"
            android:theme="@style/GirafTheme"
            android:label="Fejlrapport"/>
    </application>

</manifest>